<% if @results_num == RESULT_LIMIT %>
  Not showing more than <%= RESULT_LIMIT %> objects.
<% else %>
  <%= @results_num %> objects found.
<% end %>

<% if @results_num > 0 %>
<br />
<div style="border-style:solid; border-color:black; border-width:2px; width:100%; max-height:600px; overflow:auto;">

<%
@results.each do |line|

  # skip hidden files
  if !HIDDEN_FILES && File.basename(line).start_with?(".")
    next
  end

  # remove trailing newline
  line.chomp!

  # remove prefix
  line.gsub!(DELETE_PREFIX, "")

  # add prefix for download
  download_link = LINK_PREFIX + line

  # add highlighting
  display_line = line.gsub(/(#{@query_not_escaped})/i, "<span style=\"color:green;\">"+'\1'+"</span>")
  %>
	<%= display_line %>

	<% if File.directory?(line) %>
	  <% smb_link = SMB_PREFIX + line %>
	  &nbsp; <a href="<%=h smb_link %>"><%= image_tag("tree.png", :border => "0", :size => "20x20", :alt => "smb_link", :align => "bottom", :title => "open parent directory in filemanager") %></a>
	<% else %>
	  <% smb_link = SMB_PREFIX + File.dirname(line) %>
	  &nbsp; <a href="<%=h download_link %>"><%= image_tag("download.png", :border => "0", :size => "20x20", :alt => "download_link", :align => "bottom", :title => "view / download file") %></a>
	  &nbsp; <a href="<%=h smb_link %>"><%= image_tag("tree.png", :border => "0", :size => "20x20", :alt => "smb_link", :align => "bottom", :title => "open parent directory in filemanager") %></a>
	<% end %>
	<br/>

<% end %>

</div>
<% end %>
